/* App main container */
.mag-wrapper {
  font-size: 12px;
  padding: 20px 0px;
  max-width: 860px;
  margin: 0 auto;
}

/* Row type containers */
.grid-container,
.landscape-row,
.portrait-row,
.half-row,
.selector-row {
  margin-top: 1.5em;
  margin-bottom: 40px;
}

.landscape-row,
.selector-row,
.portrait-row,
.half-row {
  display: flex;
  flex-flow: row wrap;
}

.selector-row {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

.portrait-row,
.half-row {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.grid-container {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

.landscape-row {
  width: 100%;
}

/* Row sub-elements */
.selector-row .row-img,
.selector-row .selector-list {
  width: 49%;
  margin: 0 .5%;
}

.image-grid {
  display: flex;
  flex-flow: row wrap;
}

.grid-item {
  position: relative;
  width: 33%;
  /* TODO: this cannot stay fixed */
  height: 240px;
  background-size: cover;
}

.grid-item.active {
  border: 1px solid #7e7e7e;
  box-shadow: inset 1px 1px 55px -2px #878282;
  border-bottom: 2px solid #ee4aa9;
}

.grid-featured {
  display: flex;
  flex-flow: row wrap;
  width: 99%;
}

.grid-featured .featured-title,
.landscape-row .featured-title,
.selector-row .selector-selected {
  width: 100%;
  padding: 0px 12px;
  background-color: #eee;
  margin-right: 0;
}

.grid-featured .featured-text,
.landscape-row .featured-text{
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #e8e8e8;
}

.half-row .row-img,
.half-row .row-text {
  width: 50%;
}

.row-img img {
  width: 100%;
  height: auto;
}

.portrait-row .row-img,
.portrait-row .row-text {
  width: 50%;
}

.portrait-row .row-img,
.portrait-row .row-text,
.half-row .row-img,
.half-row .row-text {
    width: 48%;
    margin: 0 1% 0;
}

.landscape-row .row-img,
.landscape-row .row-text {
  width: 100%;
  margin: 0 1% 0;
  display: flex;
  flex-flow: row wrap;
}

.selector-list ul.selector-list-options {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin-left: 2px !important;
  padding: 0;
}

.selector-list-options li {
  display: inline-block;
  width: 45%;
  border: 1px solid #7e7e7e;
  border-radius: 4px;
  margin: 1%;
  padding: 8px 2px;
  text-align: center;
  font-size: .85em;
}

.selector-list-options li.active {
  background-color: #eee;
}

/*****************/
/* Text Elements */
/*****************/
.img-source {
  font-size: .8em;
}

.mag-wrapper h4 {
  font-size: 1.6em;
  padding:0px;
  padding-bottom: 5px;
}

.featured-title h4 {
  margin-top: 0;
  padding-top: 1rem;
}

.mag-wrapper p {
  padding: .2em 0em 1em;
  margin: 0px;
  font-size: 14px;
}

.mag-wrapper .image-source {
    font-size: .95em;
    color: #a5a5a5;
}

.row-text h4,
.row-text p {
    margin: 0px;
}

.grid-featured .featured-text p,
.landscape-row .row-text p {
  max-width: 80%;
}

.grid-container p.img-source {
    padding: 5px 12px;
}

.grid-item p {
  position: absolute;
  top: unset;
  bottom: 8px;
  left: 8px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  font-size: .9em;
  padding: 4px 6px;
}

p.question {
  font-weight: 600;
  padding-bottom: 0;
}

p.personal-title {
  font-weight: 600;
}

p.quote-block {
  font-style: italic;
  line-height: 1.7em;
  padding: 5px 25px;
}

@media only screen and (max-width: 767px) {

  .portrait-row, .landscape-row, .grid-container, .half-row{
      width:98%;
      margin:0 1% 40px;
  }

  .portrait-row .row-img, .portrait-row .row-text, .landscape-row .row-img, .landscape-row .row-text, .half-row .row-img, .half-row .row-text {
      width: 100%;
  }

  .portrait-row .row-img, .landscape-row .row-img, .half-row .row-img {
      margin-bottom: 20px;
  }

  .grid-item {
    width: 50%;
    height: 350px;
    background-size: cover;
  }



}

@media only screen and (max-width: 479px) {

.portrait-row, .landscape-row, .grid-container, .half-row {
    width: 90%;
    margin: 0 5% 40px;
}


  .portrait-row .row-img, .portrait-row .row-text, .landscape-row .row-img, .landscape-row .row-text, .half-row .row-img, .half-row .row-text {
      width: 100%;
  }

  .portrait-row .row-img, .landscape-row .row-img, .half-row .row-img {
      margin-bottom: 20px;
  }

  .grid-item {
    width: 100%;
    height: 300px;
  }



}




